<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="../vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutTodoAnnotatedTests="true"
    bootstrap="../vendor/autoload.php"
    cacheResult="true"
    cacheResultFile="../.build/phpunit/cache"
    colors="true"
    columns="max"
    executionOrder="random"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
>
    <coverage includeUncoveredFiles="true">
        <include>
            <directory suffix=".php">../src/</directory>
        </include>
    </coverage>
    <extensions>
        <bootstrap class="Ergebnis\PHPUnit\SlowTestDetector\Extension"/>
    </extensions>
    <testsuites>
        <testsuite name="end-to-end">
            <directory suffix=".phpt">EndToEnd/</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>Unit/</directory>
        </testsuite>
    </testsuites>
</phpunit>
