parameters:
	ignoreErrors:
		-
			message: '#^Method Ergebnis\\PHPUnit\\SlowTestDetector\\Collector\\Collector\:\:collectSlowTest\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Collector/Collector.php

		-
			message: '#^Offset ''major'' might not exist on array\{\}\|array\{0\: non\-falsy\-string, major\: non\-empty\-string, 1\: non\-empty\-string, 2\: numeric\-string, minor\?\: string, 3\?\: string, 4\?\: numeric\-string\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Version/Series.php

		-
			message: '#^Call to static method create\(\) on an unknown class Ergebnis\\PHPUnit\\SlowTestDetector\\Test\\DataProvider\\Exception\\EmptyValues\.$#'
			identifier: class.notFound
			count: 2
			path: test/DataProvider/AbstractProvider.php

		-
			message: '#^Call to static method filtered\(\) on an unknown class Ergebnis\\PHPUnit\\SlowTestDetector\\Test\\DataProvider\\Exception\\EmptyValues\.$#'
			identifier: class.notFound
			count: 1
			path: test/DataProvider/AbstractProvider.php

		-
			message: '#^Invalid type mixed to throw\.$#'
			identifier: throw.notThrowable
			count: 3
			path: test/DataProvider/AbstractProvider.php

		-
			message: '#^PHPDoc tag @throws with type Ergebnis\\PHPUnit\\SlowTestDetector\\Test\\DataProvider\\Exception\\EmptyValues is not subtype of Throwable$#'
			identifier: throws.notThrowable
			count: 2
			path: test/DataProvider/AbstractProvider.php

		-
			message: '#^Generator expects value type array\{int\}, array\{mixed\} given\.$#'
			identifier: generator.valueType
			count: 7
			path: test/DataProvider/IntProvider.php

		-
			message: '#^Generator expects value type array\{string\}, array\{mixed\} given\.$#'
			identifier: generator.valueType
			count: 6
			path: test/DataProvider/StringProvider.php

		-
			message: '#^Method Ergebnis\\PHPUnit\\SlowTestDetector\\Test\\DataProvider\\StringProvider\:\:values\(\) should return array\<string, string\> but returns array\<mixed, mixed\>\.$#'
			identifier: return.type
			count: 1
			path: test/DataProvider/StringProvider.php

		-
			message: '#^Parameter \#2 \.\.\.\$args of function array_merge expects array, array\<string, string\>\|false given\.$#'
			identifier: argument.type
			count: 1
			path: test/DataProvider/StringProvider.php

		-
			message: '#^Parameter \#4 \.\.\.\$args of function array_merge expects array, array\<string, string\>\|false given\.$#'
			identifier: argument.type
			count: 1
			path: test/DataProvider/StringProvider.php

		-
			message: '#^Parameter \#5 \.\.\.\$args of function array_merge expects array, array\<string, string\>\|false given\.$#'
			identifier: argument.type
			count: 1
			path: test/DataProvider/StringProvider.php

		-
			message: '#^Parameter \#2 \$array of function implode expects array\<string\>, array given\.$#'
			identifier: argument.type
			count: 2
			path: test/Unit/Reporter/Console/ConsoleReporterTest.php

