<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="../../vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutTodoAnnotatedTests="true"
    bootstrap="bootstrap.php"
    cacheResult="true"
    cacheResultFile="../../.build/phpunit/example.cache"
    colors="true"
    columns="max"
    executionOrder="random"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
>
    <testsuites>
        <testsuite name="Example Tests">
            <directory>.</directory>
        </testsuite>
    </testsuites>
</phpunit>
