<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    bootstrap="../../../../../../vendor/autoload.php"
    cacheResult="false"
    colors="true"
    columns="max"
    displayDetailsOnIncompleteTests="true"
    displayDetailsOnSkippedTests="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    executionOrder="default"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
>
    <extensions>
        <bootstrap class="Ergebnis\PHPUnit\SlowTestDetector\Extension">
            <parameter name="maximum-duration" value="100"/>
        </bootstrap>
    </extensions>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>../../../../../Fixture/PHPUnit10/TestMethod/WithMaximumDurationAndSlowThresholdAnnotations</directory>
        </testsuite>
    </testsuites>
</phpunit>
