<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="../../../../vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutTodoAnnotatedTests="true"
    bootstrap="../../../../vendor/autoload.php"
    cacheResult="false"
    colors="true"
    columns="max"
    executionOrder="random"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
>
    <extensions>
        <bootstrap class="Ergebnis\PHPUnit\SlowTestDetector\Extension">
            <parameter name="maximum-count" value="5"/>
        </bootstrap>
    </extensions>
    <testsuites>
        <testsuite name="unit">
            <directory>../../../Fixture/</directory>
        </testsuite>
    </testsuites>
</phpunit>
